@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --background-body-darkest: #141b35;
    --background-body-dark: #192e49;
    --background-body-medium: #215676;
    --background-body-light: #add7e5;
    --background-body-lightest: #c2e0eb;
    --color-black: #000;
    --color-white: #fff;
    --transition: .4s;
}

* {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
}

/* ======== cabecalho ======== */

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3em;
    z-index: 100;
}

.nav-logo {
    font-size: 2em;
    color: var(--background-body-darkest);
    pointer-events: none;
}

.navigation a {
    text-decoration: none;
    color: var(--background-body-medium);
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
    transition: var(--transition);
}

.navigation a:hover,
.navigation a.active {
    background-color: var(--background-body-darkest);
    color: white;
}

/* ======== fim cabecalho ======== */

/* ======== parallax ======== */

#parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: var(--background-body-lightest);
}

#parallax-text {
    text-align: center;
    position: absolute;
    font-size: 5em;
    color: var(--background-body-darkest);
    font-weight: 800;
    text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.4);
}

#parallax img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

#parallax::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(to top, var(--background-body-darkest), transparent);
    z-index: 1000;
}

/* ======== fim parallax ======== */

/* ======== problema ======== */

#problema {
    margin-bottom: 10vh;
}

#problema svg {
    margin-top: -30px;
}

.problema {
    width: 100%;
    min-height: 100vh;
    background-color: var(--background-body-darkest);
}

.problema-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10em 0;
}

.problema-text {
    width: 50%;
    color: var(--color-white);
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
}

.problema-text h3 {
    font-size: 3em;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--color-white);
}

.problema-photo {
    width: 40%;
    margin: 0 auto;
}

.problema-photo img {
    width: 90%;
    border-radius: 1rem;
    box-shadow: 2.5em 2em 0 0 var(--background-body-light);
}

/* ======== fim problema ======== */

/* ======== solucao ======== */

#solucao {
    margin-bottom: 10vh;
}

.solucao-container {
    width: 80%;
    height: 40%;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #f4f4f4;
    border-radius: 12px;
}

.solucao-photo {
    width: 45%;
    margin: 50px auto;
    text-align: center;
}

.solucao-photo img {
    width: 90%;
    box-shadow: 1px 1px 30px #ccc;
    border-radius: 7px;
}

.solucao-text {
    width: 45%;
    margin: 0 auto;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
}

.solucao-text h4 {
    color: var(--background-body-medium);
    font-weight: 600;
    margin-bottom: -40px;
}

.solucao-text h3 {
    font-size: clamp(18px, 2vw, 35px);
    /* text-wrap: balance; */
    line-height: 1.3;
}

.solucao-text p {
    width: 90%;
}

/* ======== fim solucao ======== */

/* ======== cards ======== */

#objetivos {
    margin-bottom: 15vh;
}

.cards {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards-container {
    width: 80%;
    margin: 0 auto;
}

.cards-container .cards-title {
    font-size: 2em;
    color: var(--background-body-darkest);
    padding: 0 1rem 1rem 0;
    border-bottom: 1px solid var(--background-body-darkest);
    width: fit-content;
    margin-bottom: 5rem;
}

.cards-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-items: center;
}

.card {
    position: relative;
    width: 100%;
    max-width: 300px;
    height: 420px;
    background: var(--color-white);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.card:hover {
    transform: scale(1.1);
}

.card .card-icon {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--background-body-darkest);
    clip-path: circle(180px at center 0);
    text-align: center;
}

.card .card-icon i {
    color: var(--color-white);
    font-size: 5em;
    padding: 30px 0;
}

.card .content {
    position: absolute;
    bottom: 40px;
    padding: 20px;
    page-break-after: 20px;
    text-align: center;
}

.card .content p {
    color: var(--background-body-dark);
    margin-top: 10px;
}

.card .content a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background: var(--background-body-darkest);
    color: var(--color-white);
    border-radius: 40px;
    text-decoration: none;
    margin-top: 20px;
}

/* ======== fim cards ======== */

/* ======== publico ======== */

#publico {
    min-height: 100vh;
}

.publico-container {
    height: 70vh;
    background-color: var(--background-body-lightest);
    display: flex;
    align-items: center;
    box-shadow: 5px 5px 50px #ccc;
}

.publico-text {
    height: 70vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 4em;
    padding: 3em;
    background-color: var(--background-body-darkest);

    p {
        color: var(--color-white);
        font-size: clamp(1rem, 1vw, 30px);
    }
}

.publico-text h3 {
    font-size: 2em;
    color: var(--color-white);
    padding: 0 1rem 1rem 0;
    border-bottom: 1px solid var(--color-white);
}

.publico-photo {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.publico-photo img {
    width: 70%;
}


/* ======== fim publico ======== */

/* ======== beneficios ======== */

#beneficios {
    margin-bottom: 10vh;
}

.beneficios-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.beneficios-container h3 {
    font-size: 3vw;
    text-align: center;
    color: var(--background-body-darkest);
    padding: 0 1rem 1rem 0;
    border-bottom: 1px solid var(--background-body-darkest);
    margin-bottom: 1em;
}

.beneficios-topicos {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.topico {
    width: 40%;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #f4f4f4;
    padding: 2rem;
    margin: 10px;
    box-shadow: 1px 1px 10px #ccc;
    transition: var(--transition);
}

.topico:hover {
    transform: scale(1.05);
}

.topico i {
    border: 1px solid var(--background-body-darkest);
    border-radius: 50%;
    padding: 5px;
}


/* ======== fim beneficios ======== */

/* ======== ajuda ======== */

#ajuda svg {
    margin-bottom: -10px;
}

/* ======== fim ajuda ======== */


/* ======== footer ======== */

.footer {
    border-top: 1px solid var(--background-body-lightest);
    width: 100%;
    /* background-color: #f4f4f4; */
    background-color: var(--background-body-darkest);
    color: var(--color-white);
    padding-top: 40px;
    text-align: center;
}

.footer-content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 50px;
}

.footer-logo img {
    width: 100px;
}

.footer-logo h3 {
    margin-top: 20px;
    color: #000000;
}

.footer-contact,
.footer-social {
    text-align: left;
}

.footer-contact h3,
.footer-social h3 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.footer-social h3 {
    margin-bottom: 20px;
}

.footer-contact p,
.footer-social a {
    margin: 5px 0;
    font-size: 1rem;
}

.footer-social a {
    text-decoration: none;
    color: var(--color-white);
    display: flex;
    align-items: center;
    gap: 10px;
    transition: color var(--transition);
}

.footer-social i {
    font-size: 1.5em;
    color: var(--background-body-light);
}

.footer-social a:hover {
    color: var(--background-body-medium);
}

.footer-social .social-icon {
    width: 20px;
    height: 20px;
    transition: filter var(--transition);
}

.footer-social a:hover .social-icon {
    filter: brightness(0.8);
}

.footer-bottom {
    width: 100%;
    background-color: var(--color-black);
    padding: 20px 0;
}

.footer-bottom p {
    font-size: 0.9rem;
}

/* ======== fim footer ======== */

/* ======== media query ======== */

/* ======== Media Queries ======== */

@media screen and (max-width: 1200px) {

    /* ======== solucao ======== */

    .solucao-photo img {
        width: 100%;
    }

    /* ======== fim solucao ======== */

    /* ======== beneficios ======== */

    .beneficios-topicos {
        width: 90%;
    }

    /* ======== fim beneficios ======== */
}

@media screen and (max-width: 1024px) {

    /* ======== problema ======== */
    .problema-container {
        flex-direction: column;
        text-align: center;
        gap: 80px;
    }

    .problema-text {
        width: 80%;
    }

    .problema-photo {
        width: 60%;
        margin: 0 auto;
    }

    /* ======== fim problema ======== */

    /* ======== solucao ======== */

    .solucao-container {
        padding: 3rem 0;
        flex-direction: column-reverse;
    }

    .solucao-text {
        align-items: center;
        text-align: center;
        width: 90%;
    }

    .solucao-text h4 {
        margin-bottom: -30px;
    }

    .solucao-photo {
        width: 70%;
        margin: 50px auto;
        text-align: center;
    }

    /* ======== fim solucao ======== */

    /* ======== cards ======== */

    /* ======== fim cards ======== */



    /* ======== publico ======== */

    #publico {
        margin-bottom: 20vh;
    }

    .publico-container {
        flex-direction: column;
        height: 120vh;
    }

    .publico-text {
        width: 100%;
    }

    .publico-photo {
        width: 70%;
    }

    .publico-photo img {
        width: 90%;
    }

    /* ======== fim publico ======== */

    /* ======== beneficios ======== */

    .beneficios-container h3 {
        font-size: 4vw;
    }

    .beneficios-topicos {
        flex-direction: column;
    }

    .topico {
        width: 80%;
    }

    /* ======== fim beneficios ======== */

    /* ======== ajuda ======== */

    #ajuda .problema .problema-photo {
        margin-bottom: 4rem;
    }

    /* ======== fim ajuda ======== */

    /* ======== footer ======== */
    .footer-content {
        flex-direction: column;
    }

    .footer-contact,
    .footer-social {
        text-align: center;
    }

    /* ======== fim footer ======== */
}