@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --background-body-darkest: #141b35;
    --background-body-dark: #192e49;
    --background-body-medium: #215676;
    --background-body-light: #add7e5;
    --background-body-lightest: #c2e0eb;
    --transition: .4s;
}

*{
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-body-lightest);
    min-height: 100vh;
}

/* cabecalho */

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3em;
    z-index: 100;
}

.nav-logo {
    font-size: 2em;
    color: var(--background-body-darkest);
    pointer-events: none;
}

.navigation a{
    text-decoration: none;
    color: var(--background-body-medium);
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
    transition: var(--transition);
}

.navigation a:hover,
.navigation a.active{
    background-color: var(--background-body-darkest);
    color: white;
}

/* fim cabecalho */

/* parallax */

#parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#parallax-text {
    position: absolute;
    font-size: 5em;
    color: var(--background-body-darkest);
    font-weight: 600;
    text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.4);   
}

#parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

    #parallax::before{
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 50px;
        background: linear-gradient(to top, var(--background-body-darkest), transparent);
        z-index: 1000;
    }

/* fim parallax */

.sec {
    position: relative;
    background-color: var(--background-body-darkest);
    padding: 5em;

    h2,p{
        color: white;
    }
}